body {
    background-color: #FEFDF3;
    
}

/* "Azzama Article" text */
.text-articles {
    top: 700px;
    font-family: cinzel-reguler;
    font-weight: 400;
    color: black;
    margin-bottom: 80px;
    margin-top: 115px;
    font-size: 4em;
}


.list-article{
    padding: 20px;
}


/* Image Preview Article */
.img-article{
    width: 300px;
    height: 300px;
}

/* Title Article */
.title-article {
    font-family: red-hat-display;
    font-weight: 300;
    color: black;
    font-size: 1.5em;
}