@font-face {
    font-family: cinzel-bold;
    src: url('/public/font/Cinzel-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: cinzel-reguler;
    src: url('/public/font/Cinzel-Regular.ttf');
}

@font-face {
    font-family: redhat-bold;
    src: url('/public/font/RedHatDisplay-Bold.ttf');
}

@font-face {
    font-family: redhat-reguler;
    src: url('/public/font/RedHatDisplay-Regular.ttf');
}



:root {
    --background: #FEFDF3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FEFDF3;
    
}

html{
    width: 100vw;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: transparent;
    width: 100%;
    min-height: 10%;
}

.navbar:hover {
    background-color: var(--background);
}

.header-left {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-brand a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: cinzel-bold;
}

.navbar-menu {
    display: flex;
    list-style: none;
    height: 8vh;
    padding: 0 3rem;
    align-items: center;
    box-sizing: border-box;
    gap: 30px;
}

.navbar-item {
    /* padding: 0 20px; */
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 2px solid transparent;
}

.navbar-item:hover {
    border-bottom-color: black;
    /* text-transform:uppercase; */
}

.navbar-item a {
    position: relative;
    color: black;
    display: block;
    text-decoration: none;
    font-family: redhat-bold;
    font-size: 1rem;
    letter-spacing: 3px;
    /* box-sizing: border-box; */
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navbar-icons {
    display: flex;
    gap: 25px;
}

.navbar-icons a {
    color: #000000;
    text-decoration: none;
}

.header-right .toggle {
    cursor: pointer;
    display: none;
}

.header-right .toggle div {
    width: 25px;
    height: 4px;
    background: black;
    margin: 5px;
    border-radius: 5px;
}

.hero {
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(../images/main1.jpg);

}

.text-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.name {
    top: 700px;
    font-family: cinzel-reguler;
    font-weight: 400;
    color: #fff;
    font-size: 3em;
}

.moto {
    top: 800px;
    font-family: cinzel-bold;
    font-weight: bold;
    color: #fff;
    font-size: 5em;
}

.shop {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.dress {
    background-image: url(../images/Hijab.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.hijab {
    background-image: url(../images/Dress.png);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
}

.dress-produk {
    color: #fff;
    font-size: 85px;
    font-family: cinzel-reguler;
    font-weight: 400;
}

.dress .container-dress {
    width: fit-content;
    height: fit-content;
    margin: 82px 15px;
}

.btn-dress {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    width: 387px;
    text-decoration: none;
    font-family: redhat-reguler;
    color: #fff;
    border: 2px solid #fff;
    margin: 20px;
    border-radius: 25px;
    font-size: 26px;
    margin-top: 35px;
}

 .hijab-produk {
    color: #fff;
    font-size: 85px;
    font-family: cinzel-reguler;
    font-weight: 400;
    margin: 20px;
}

.shop .hijab .container-hijab {
    width: fit-content;
    height: fit-content;
    margin: 82px 15px;
}

.btn-hijab {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    width: 387px;
    text-decoration: none;
    font-family: redhat-reguler;
    color: #fff;
    border: 2px solid #fff;
    margin: 20px;
    border-radius: 25px;
    font-size: 26px;
    margin-top: 35px;

}

.shop a:hover {
    color: #000000;
    background-color: #fff;
    transition: 0.5s;
}

.article {
    background-color: #E6B0AA;
    height: 100vh;
}

.text-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}

.article h3 {
    font-size: 55px;
    color: #fff;
}

.article a {
    text-decoration: none;
    color: #fff;
    margin-top: 30px;
    font-size: 25px;
    text-decoration-line: underline;
}

/* Styles for devices with a width up to 480px (e.g. smartphones) */
@media screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    .header-right .toggle {
        display: block
    }

    .name {
        font-size: 23px;

    }

    .moto {
        font-size: 28px;
    }

    .shop {
        justify-content: space-evenly;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .dress {
        display: flex;
        justify-content: center;
        background-image: url(../images/Hijab.png);
        background-size: cover;
        width: auto;
        height: 100vh;
    }

    .hijab {
        display: flex;
        justify-content: center;
        background-image: url(../images/Dress.png);
        background-size: cover;
        width: auto;
        height: 100vh;
    }

    .dress-produk {
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
    }

    .btn-dress {
        display: flex;
        height: 6vh;
        justify-content: center;
        align-items: center;
        width: 350px;
        text-decoration: none;
        font-family: redhat-reguler;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 20px;
        font-size: 26px;
    }

    .hijab-produk {
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
    }

    .btn-hijab {
        display: flex;
        height: 6vh;
        justify-content: center;
        align-items: center;
        width: 350px;
        text-decoration: none;
        font-family: redhat-reguler;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 20px;
        font-size: 26px;
    }

    .shop a:hover {
        color: #000000;
        background-color: #fff;
        transition: 0.5s;
    }

    .article h3 {
        font-size: 1.8rem;
        color: #fff;
    }

    .article a {
        text-decoration: none;
        color: #fff;
        margin-top: 30px;
        font-size: 1.2rem;
        text-decoration-line: underline;
    }
}

/* Styles for devices with a width between 481px and 768px (e.g. tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .header-right .toggle {
        display: block
    }

    .name {
        font-size: 25px;

    }

    .moto {
        font-size: 35px;
    }

    .shop {
        justify-content: space-evenly;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .dress {
        display: flex;
        justify-content: center;
        background-image: url(../images/Hijab.png);
        background-size: cover;
        width: auto;
        height: 100vh;
    }

    .hijab {
        display: flex;
        justify-content: center;
        background-image: url(../images/Dress.png);
        background-size: cover;
        width: auto;
        height: 100vh;
    }

    .dress-produk {
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
    }


    .btn-dress {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        width: 387px;
        text-decoration: none;
        font-family: redhat-reguler;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 25px;
        font-size: 26px;
    }

    .hijab-produk {
        display: flex;
        justify-content: center;
        font-size: 3.5rem;
    }

    .btn-hijab {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        width: 387px;
        text-decoration: none;
        font-family: redhat-reguler;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 25px;
        font-size: 26px;
    }

    .shop a:hover {
        color: #000000;
        background-color: #fff;
        transition: 0.5s;
    }

    .article h3 {
        font-size: 2.3rem;
        color: #fff;
    }

    .article a {
        text-decoration: none;
        color: #fff;
        margin-top: 30px;
        font-size: 1.6rem;
        text-decoration-line: underline;
    }

}

/* Styles for devices with a width between 769px and 1024px (e.g. small laptops) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar-menu {
        width: 60%;
    }

    .hero {
        background-position: top;
        background-size: cover;
    }

    .text-hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .name {
        top: 700px;
        font-family: cinzel-reguler;
        font-weight: 400;
        color: #fff;
        font-size: 2em;
    }

    .moto {
        top: 800px;
        font-family: cinzel-bold;
        font-weight: bold;
        color: #fff;
        font-size: 3em;
    }

    .shop {
        justify-content: space-evenly;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .dress {
        background-image: url(../images/Hijab.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        width: auto;
        height: 100vh;
    }

    .hijab {
        background-image: url(../images/Dress.png);
        display: flex;
        justify-content: center;
        background-size: cover;
        width: auto;
        height: 100vh;
    }

    .dress-produk {
        color: #fff;
        font-size: 85px;
        font-family: cinzel-reguler;
        font-weight: 400;
        display: flex;
        justify-content: center;
    }


    .shop .btn-dress {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        width: 387px;
        text-decoration: none;
        font-family: redhat-reguler;
        color: #fff;
        border: 2px solid #fff;
        margin: 20px;
        border-radius: 25px;
        font-size: 26px;

    }

    .hijab-produk {
        color: #fff;
        font-size: 85px;
        font-family: cinzel-reguler;
        font-weight: 400;
        display: flex;
        justify-content: center;
    }

    .shop .btn-hijab {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        width: 387px;
        text-decoration: none;
        font-family: redhat-reguler;
        color: #fff;
        border: 2px solid #fff;
        margin: 20px;
        border-radius: 25px;
        font-size: 26px;
        margin-top: 32px;

    }

    .shop a:hover {
        color: #000000;
        background-color: #fff;
        transition: 0.5s;
    }

    .article h3 {
        font-size: 45px;
        color: #fff;
    }

    .article a {
        text-decoration: none;
        color: #fff;
        margin-top: 30px;
        font-size: 22px;
        text-decoration-line: underline;
    }


}

/* Styles for devices with a width greater than 1024px (e.g. large laptops and desktops) */
@media screen and (min-width: 1025px) {
    .hero {
        background-position: top;
    }

    .text-hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .name {
        top: 700px;
        font-family: cinzel-reguler;
        font-weight: 400;
        color: #fff;
        font-size: 2.5em;
    }

    .moto {
        top: 800px;
        font-family: cinzel-bold;
        font-weight: bold;
        color: #fff;
        font-size: 4.5em;
    }

    .shop {
        display: flex;
        justify-content: space-evenly;
        background-size: cover;
        gap: 20px;
        padding: 20px;
    }

    .dress {
        background-image: url(../images/Hijab.png);
        width: 100vw;
        height: 100vh;
    }

    .hijab {
        background-image: url(../images/Dress.png);
        width: 100vw;
        height: 100vh;
    }

    .shop .dress-produk {
        color: #fff;
        font-size: 85px;
        font-family: cinzel-reguler;
        font-weight: 400;
        margin: 20px;
        top: 1376px;
    }

    .shop .btn-dress {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        width: 387px;
        text-decoration: none;
        font-family: redhat-reguler;
        color: #fff;
        border: 2px solid #fff;
        margin: 20px;
        border-radius: 25px;
        font-size: 26px;

    }

    .shop .hijab-produk {
        color: #fff;
        font-size: 85px;
        font-family: cinzel-reguler;
        font-weight: 400;
        margin: 20px;
        top: 1376px;
    }

    .shop .btn-hijab {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        width: 387px;
        text-decoration: none;
        font-family: redhat-reguler;
        color: #fff;
        border: 2px solid #fff;
        margin: 20px;
        border-radius: 25px;
        font-size: 26px;
        top: 1500px;

    }

    .shop a:hover {
        color: #000000;
        background-color: #fff;
        transition: 0.5s;
    }

}
